@import "variables.less";

// Content
// -------------------------

html {
    font-size: 14px;
    line-height: 1;
}
body {
    .gotham();
    padding: 0;
    margin: 0 auto;
}

// INTRO
#intro-wrap {
    .panel {
        position: relative;
        width: 100%;
        height: 100%;
        height: 100vh;

        .text-wrapper {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 2rem;
                line-height: 1.4;
                max-width: 800px;
                margin: 0 auto;
            }
        }
    }
}

// MEDIA TYPES

.image-wrapper, .vid-wrapper {
    background-color: #f1f1f1;
    &:after {
        content: 'loading';
        display: block;
        .gotham();
        padding: 1.5em 0;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #c3c3c3;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}


.embed-image, .embed-graphic {
    margin: 2em 0;
    width: 100%;

    .image-wrapper {
        width: 100%;
        padding-bottom: 56.5%;
        position: relative;
        background-color: #f1f1f1;
        margin: 0 auto 12px;

        > * {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    img {
        display: none;
    }

    &.loaded {
        img {
            display: block;
        }
        .image-wrapper {
            &:after {
                content: none;
            }
        }
    }
}


// Media queries
// -------------------------
