@import "variables.less";

// Content
// -------------------------

body {
    .gotham();
    font-size: 18px;
    line-height: 1.7;
    padding: 0;
    margin: 0 auto;

    * {
        box-sizing: border-box;
    }
}

img {
    max-width: 100%;
}

.hide {
    display: none;
}

// INTRO
.intro-wrapper {
    position: relative;

    * {
        box-sizing: border-box;
    }

    .bg-img {
        width: 100%;
        height: 100vh;
        position: fixed;

        &.bg-1 {
            background-image: url('../../assets/kartli-vid-preview.png');
            background-size: cover;
            background-position: center;
        }
    }

    .panel-intro {
        position: relative;
        width: 100%;
        height: 100%;
        height: 100vh;

        .text-wrapper {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            color: @black;
            padding: 0 1em;

            h1 {
                font-size: 5rem;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
                margin: 0;
            }

            p {
                font-size: 2rem;
                line-height: 1.5;
                max-width: 800px;
                margin: 0 auto 1em;

                @media @screen-small {
                    font-size: 1.5rem;
                }

                @media @screen-landscape {
                    font-size: 1.2rem;
                    max-width: 480px;
                }
            }
        }

        &.title-panel {
            .text-wrapper {
                padding-left: 30px;
                text-align: left;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                top: auto;
                bottom: 20%;
                color: @brightwhite;
            }
        }
    }

    &#intro-custom {
        .panel-intro .text-wrapper {
            p {
                color: @black;
            }
        }

        img.intro-map {
            width: 100%;
            max-width: 600px;

            @media @screen-small {
                max-width: 360px;
            }

            @media @screen-landscape and (min-width: 421px) {
                max-width: 280px;
            }
        }
    }
}

// MEDIA TYPES

.image-wrapper {
    background-color: #f1f1f1;
    &:after {
        content: 'loading';
        display: block;
        .gotham();
        padding: 1.5em 0;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #c3c3c3;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.embed-image, .embed-graphic {

    &.full {
        margin: 2em 0;
        width: 100%;
    }

    &.centered {
        max-width: 730px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .collage2 {
        width: 48%;
        margin-right: 4px;
        float: left;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .image-wrapper {
        width: 100%;
        padding-bottom: 56.5%;
        position: relative;
        background-color: #f1f1f1;
        margin: 0 auto 12px;

        > * {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

        &.loaded {
            img {
                display: block;
            }
            &:after {
                content: none;
            }
        }
    }

    img {
        display: none;
    }

    &.loaded {
        img {
            display: block;
        }
        .image-wrapper {
            &:after {
                content: none;
            }
        }
    }

    p.image-caption {
        .sans-serif();
        font-size: 1rem;
        line-height: 20px;
        color: @textgray;
        margin: 0 auto 2px;
    }

    p.image-credit {
        .sans-serif();
        font-size: 0.75rem;
        font-style: italic;
        line-height: 1.7;
        color: @textgray;
    }
}

.episode-content {
    h2 {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h3, p {
        max-width: 680px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-family: Georgia, serif;
        margin-bottom: 1.2em;
        color: #333;
    }
}

.video-wrapper {
    width: 100%;
}

.episode-footer, .episode-end {
    position: relative;

    .panel-footer {
        position: relative;
        width: 100%;
        height: 100%;
        height: 100vh;

        .text-wrapper {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            color: @black;

            h1 {
                font-size: 4rem;
            }

            p, a {
                font-size: 2rem;
                line-height: 1.4;
                max-width: 800px;
                margin: 0 auto;
            }

            a {
                display: inline-block;
            }
        }
    }
}
