<!-- Fonts -->
<script>
    WebFontConfig = {
        custom: {
            families: [
                'Gotham SSm:n4,n7',
                'Gotham:n4,n7',
                'Knockout 31 4r:n4'
            ],
            urls: [
                'https://s.npr.org/templates/css/fonts/GothamSSm.css',
                'https://s.npr.org/templates/css/fonts/Gotham.css',
                'https://s.npr.org/templates/css/fonts/Knockout.css'
            ]
        },
        timeout: 10000
    };

   (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = "{{ S3_BASE_URL }}/js/lib/webfont.js";
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>
{{ CSS.push('www/css/icon/npr-app-template.css') }}
