<div class="panel-intro title-panel">
    <div class="text-wrapper">
        <img class="top-nav-logo" src="../../assets/npr-white.png">

        <h5>{{ COPY[episode].intro_slug }}</h5>
        <h1>{{ COPY.content.headline }}</h1>
        {{ COPY.content.title_content }}
    </div>
</div>
{% for content in COPY.intro_panels %}
<div class="panel-intro {{ content.class }} panel-intro-{{ loop.index0 }}{% if loop.first %} bg-fade-out{% endif %}{% if loop.last %} final-panel{% endif %}">
    <div class="text-wrapper">
        {{ content.text }}
        {% if content.html %}
        <div class="asset-wrapper">
            {{ content.html }}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
