<div id="episode-nav" class="top-nav">
    <div id="nav-text" class="nav-text">
        <img class="top-nav-logo" src="assets/npr-black.png">

        <span class="nav-head">{{ COPY[episode].nav_head }}</span>
        <span class="nav-subhead">{{ COPY[episode].nav_subhead }}</span>
    </div>
    <div class="menu">
        <div class="menu-episode">
            <a class="episode-link" href="irakli.html">
                <p class="menu-title  irakli-header-link"><b>Story 1:</b> The Army Veteran</p>
            </a>

        </div>
        <div class="menu-episode">
            <a class="episode-link" href="ana.html">
                <p class="menu-title  ana-header-link"><b>Story 2:</b> The Mother</p>
            </a>

        </div>
        <div class="menu-episode">
            <a class="episode-link" href="veriko.html">
                <p class="menu-title veriko-header-link"><b>Story 3:</b> The Young Professional</p>
            </a>
        </div>
    </div>
</div>
