<div id="episode-nav" class="top-nav">
    <img class="top-nav-logo" src="assets/npr-black.png">
    <span>{{ COPY[episode].nav_text }}</span>
    <div class="menu">
    <div class="menu-episode">
        <a class="episode-link" data-episode="1" data-position="nav" href="irakli.html">
            <p class="menu-title">IRAKLI</p>
            <p class="menu-subtitle">Episode 1: Paradise Lost</p>
            <span class="separator"></span>
        </a>
    </div>
    <div class="menu-episode">
        <a class="episode-link" data-episode="1" data-position="nav" href="ana.html">
            <p class="menu-title">ANA</p>
            <p class="menu-subtitle">Episode 2: Permanently Temporary</p>
            <span class="separator"></span>
        </a>
    </div>
    <div class="menu-episode">
        <a class="episode-link" data-episode="1" data-position="nav" href="veriko.html">
            <p class="menu-title">VERIKO</p>
            <p class="menu-subtitle">Episode 3: A foot in two worlds</p>
        </a>
    </div>
</div>
</div>
