<div class="boilerplate">

    <div class="utility-nav">
        <p>
            <b>{{ COPY[episode].nav_head }}</b>
            <a href="irakli.html" class="irakli-footer-link">Story 1. Irakli Salakaia</a>
            <a href="ana.html" class="ana-footer-link">Story 2. Ana Sabashvili</a>
            <a href="veriko.html" class="veriko-footer-link">Story 3. Veriko Ekhvaia</a>
        </p>
    </div>

    <div class="credits">
        <p>Reporting:</p>
        <p>Photography:</p>
        <p>Editing:</p>
        <p>Design and Development:</p>
        <p>Published:</p>
    </div>

</div>
