<div class="boilerplate">

    <div class="utility-nav">
        <p>
            <b>{{ COPY[episode].nav_head }}</b>
            <a href="irakli.html" class="irakli-footer-link">Story 1. Irakli Salakaia</a>
            <a href="ana.html" class="ana-footer-link">Story 2. Ana Sabashvili</a>
            <a href="veriko.html" class="veriko-footer-link">Story 3. Veriko Ekhvaia</a>
        </p>
    </div>

    <div class="credits">
        <p>Reporting: {{COPY.credits.reporting}}</p>
        <p>Photography: {{COPY.credits.photography}}</p>
        <p>Editing: {{COPY.credits.editing}}</p>
        <p>Design and Development: {{COPY.credits.design_development}}</p>
        <p>Published: {{COPY.credits.published}}</p>
        <div class="disclaimer">{{COPY.credits.disclaimer|safe}}</div>
    </div>

</div>
