<div class="boilerplate">

    <div class="utility-nav">
        <p>
            <b>{{ COPY[episode].nav_head }}</b>
            <a href="irakli.html" class="irakli-footer-link">Story 1. The Army Veteran</a>
            <a href="ana.html" class="ana-footer-link">Story 2. The Mother</a>
            <a href="veriko.html" class="veriko-footer-link">Story 3. The Young Professional</a>
        </p>
    </div>

    <div class="credits">
        <p>Reporting: {{COPY.credits.reporting}}</p>
        <p>Photography: {{COPY.credits.photography}}</p>
        <p>Editing: {{COPY.credits.editing}}</p>
        <p>Design and Development: {{COPY.credits.design_development}}</p>
        <p>Published: {{COPY.credits.published}}</p>
        <p>Geographic Map Data: Natural Earth</p>
        <div class="disclaimer"><p>{{COPY.credits.disclaimer|safe}}</p></div>
    </div>

    <div class="related-coverage">
        <h5>Related Coverage</h5>

        <p><a href="http://www.npr.org/sections/parallels/2017/03/13/519471110/along-a-shifting-border-georgia-and-russia-maintain-an-uneasy-peace">Along A Shifting Border, Georgia And Russia Maintain An Uneasy Peace</a></p>

        <p><a href="http://www.npr.org/sections/parallels/2017/05/29/529164167/uprooted-by-conflict-stuck-in-limbo-yearning-for-a-place-to-call-home">Uprooted By Conflict, Stuck In Limbo, Yearning For A Place To Call Home</a></p>

        <p><a href="http://www.npr.org/2017/05/30/530677941/displaced-by-war-a-new-apartment-means-leaving-friends-behind">Displaced By War, A New Apartment Means Leaving Friends Behind</a></p>

    </div>

</div>
