{% extends '_base.html' %}

{% block content %}
<div id='intro'>
    <div id='intro-common' class='intro'></div>
    <div id='intro-custom' class='intro'></div>
</div>
<div class='episode-content'>
{% for section in sections %}
    <section class='section' id='{{section.slug}}'>
        <h3 class='headline section-headline'>{{section.headline}}</h3>
        <div class='section-contents'>
            {{section.contents|safe}}
        </div>
    </section>
{% endfor %}
</div>
<div class='episode-footer'>Episode footer goes here</div>
{% endblock %}
