{% extends '_base.html' %}

{% block content %}
<div id='intro'>
    <div id='intro-common' class='intro-wrapper hide'>
        {% include '_intro_common.html' %}
    </div>
    <div id='intro-custom' class='intro-wrapper'>
        {% include '_intro_custom.html' %}
    </div>
</div>

<div class='episode-content'>
<h2> {{ COPY[episode].headline }} </h2>
{% for section in sections %}
    <section class='section' id='{{section.slug}}'>
        <div class='section-contents'>
            {{section.contents|safe}}
        </div>
    </section>
{% endfor %}
</div>
{% if episode != 'veriko' %}
<div id='footer' class='episode-footer'>
    <div class="panel-footer"> <!--id="primary"-->
        <div>
            <a href="{{next}}.html">{{ footer }}</a>
        </div>
    </div>
</div>
{% else %}
<div class='episode-end'>
    <div id="end" class="panel-footer">
        <div class="text-wrapper">
            <p>{{COPY['end'].related_content}}</p>
            <p>{{COPY['end'].donate}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
