{% extends '_base.html' %}

{% block content %}
{% set intro_video_src = COPY[episode].intro_video %}
{% set intro_video_poster = COPY[episode].intro_poster %}
<div id='intro'>
    <div id="title-bg-container" class="bg-img bg-title bg-{{episode}}">
        <div id='intro-vid' class='video-wrapper intro' data-src='{{ intro_video_src }}' data-poster='{{ intro_video_poster }}' data-mime='video/mp4' data-width='100%' data-height='100%'></div>
    </div>
    <div id="bg-container" class="bg-img bg-static bg-{{episode}}"></div>
    <div id='intro-common' class='intro-wrapper hide'>
        {% include '_intro_common.html' %}
    </div>
    <div id='intro-custom' class='intro-wrapper'>
        {% include '_intro_custom.html' %}
    </div>
</div>

<div class='episode-content'>
{% for section in sections %}
    <section class='section' id='{{section.slug}}'>
        <div class='section-contents'>
            {{section.contents|safe}}
        </div>
    </section>
{% endfor %}
</div>
{% if episode != 'veriko' %}
<div id="footer">
    <div class="footer-question">
        <a href="{{next}}.html">
            <img src="https://media.npr.org/idp-georgia/ana_test_photos/20170314-GEORGIA_DSC3237_edit-s800-c80.jpg">
            <h4>Ana's story</h4>
            <h3>{{ footer }}</h3>
        </a>
    </div>
    <div class="utility-nav">
        <dl>
            <dt>Strangers in their own land:</dt>
            <dd><a href="#">1. Irakli</a></dd>
            <dd><a href="#">2. Ana</a></dd>
            <dd><a href="#">3. Veriko</a></dd>
        </dl>
    </div>

</div>
{% else %}
<div class='episode-end'>
    <div id="end" class="panel-footer">
        <div class="text-wrapper">
            <p>{{COPY['end'].related_content}}</p>
            <p>{{COPY['end'].donate}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
