<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>Static test page</title>

    <!-- META TAGS -->

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/lib/gsap/CSSPlugin.min.js') }}
    {{ JS.push('js/lib/gsap/EasePack.min.js') }}
    {{ JS.push('js/lib/gsap/TweenLite.min.js') }}
    {{ JS.push('js/lib/gsap/TimelineLite.min.js') }}
    {{ JS.push('js/lib/ScrollMagic.js') }}
    {{ JS.push('js/lib/gsap/animation.gsap.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    <div class="graphic-wrapper" id="graphic-population">
        <h4>Headline about IDPs</h4>
        <p class="graphic-text">Here is some intro about the graphic.</p>
        <div class="chart-wrapper">
            <div class="chart-row">
                <span class="row-label">Country with max value</span>
                <span class="row-bar" style="width: 100%;"></span>
                <span class="row-label">35.6%</span>
            </div>
            <div class="chart-row">
                <span class="row-label">Next country</span>
                <span class="row-bar" style="width: 82%;"></span>
                <span class="row-label">29.1%</span>
            </div>
            <div class="chart-row">
                <span class="row-label">Georgia</span>
                <span class="row-bar" style="width: 16.85%;"></span>
                <span class="row-label">6.0%</span>
            </div>
        </div>
    </div>

    {# uncomment both files to use simpleStorage #}
    {{ JS.push('js/lib/simpleStorage.js') }}
    {{ JS.push('js/storage.js') }}

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/scroll-test.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% if DEPLOYMENT_TARGET %}
    <script src="{{S3_BASE_URL}}/js/rendered/app.min.js"></script>
    {% else %}
    <!--script src="{{S3_BASE_URL}}/js/rendered/app.js"></script-->
    {% endif %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>

