<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>Static test page</title>

    <!-- META TAGS -->

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/test.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/lib/gsap/CSSPlugin.min.js') }}
    {{ JS.push('js/lib/gsap/EasePack.min.js') }}
    {{ JS.push('js/lib/gsap/TweenLite.min.js') }}
    {{ JS.push('js/lib/gsap/TimelineLite.min.js') }}
    {{ JS.push('js/lib/ScrollMagic.js') }}
    {{ JS.push('js/lib/debug.addindicators.js') }}
    {{ JS.push('js/lib/gsap/animation.gsap.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    <div id="intro-wrap">
        <div class="panel">
            <div id="panel-text-1" class="text-wrapper">
                <p>They fled bombs and bullets and destruction. Their friends and relatives died. They lost everything.</p>
                <p>They are internally displaced people, or IDPs.</p>
            </div>
        </div>
        <div class="panel panel-characters">
            <div id="panel-text-2" class="text-wrapper">
                <div id="bio-wrapper">
                    <p class="bio irakli-bio"> Irakli Salakaia fled Abkhazia over snowy mountain passes at age 17 in 1993. His father, who refused to leave the grave of one of his other children, was later executed BY WHO. </p>
                    <p class="bio ana-bio hide"> Ana Sabashvili, a 50-year-old seamstress, left South Ossetia in 2008 and now lives in a settlement just a few miles from her hometown. She pines for her old house, reduced to ashes after Georgia’s five-day war with Russia. </p>
                    <p class="bio veriko-bio hide"> Veriko Ekhvaia, 29, attended grade school in Abkhazia amid Georgian tanks before her family fled. She’s now a DJ at a Georgian radio station that broadcasts to Abkhazia. </p>
                    <p class="bio wrap-bio hide"> All three live on the fringes of Georgian society [[TRUE OF VERIKO?]]. Unable to return home, struggling to plan for the future, they are stuck -- frozen in permanent limbo. Here are their stories. </p>
                </div>
                <div class="asset-wrapper">
                    <div class="char-wrapper char-irakli">
                        <img src="../assets/intro-char-irakli.jpg" /><span>Irakli</span>
                    </div>
                    <div class="char-wrapper char-ana not-active">
                        <img src="../assets/intro-char-ana.jpg" /><span>Ana</span>
                    </div>
                    <div class="char-wrapper char-veriko not-active">
                        <img src="../assets/intro-char-veriko.jpg" /><span>Veriko</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="story-wrap" style="height: 4000px; width: 100%;"></div>

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/scroll-test.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% if DEPLOYMENT_TARGET %}
    <script src="{{S3_BASE_URL}}/js/rendered/app.min.js"></script>
    {% else %}
    <!--script src="{{S3_BASE_URL}}/js/rendered/app.js"></script-->
    {% endif %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>

